OPEN_DRIVER_PROD_DIR=/root/opendriver-prod
OPEN_DRIVER_REPO_URL=https://github.com/murilogillbert/opendriver.git
OPEN_DRIVER_APP_DIR=/root/opendriver
OPEN_DRIVER_WEBROOT=/var/www/opendriver
OPEN_DRIVER_DOMAIN=opendriver.com.br
OPEN_DRIVER_WWW_DOMAIN=www.opendriver.com.br

GIT_USER_NAME=Open Driver Deploy
GIT_USER_EMAIL=deploy@opendriver.com.br
GIT_DEFAULT_BRANCH=main

APP_ENV=production
APP_PORT=3001
WEB_PORT=8080
PUBLIC_API_BASE_URL=/api

SQLSERVER_HOST=sqlserver
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=OpenDriver
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=Change_this_Strong_Password_123!

JWT_SECRET=change_this_jwt_secret
CORS_ORIGIN=https://opendriver.com.br
UPLOAD_DIR=/app/uploads
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_PUBLIC_KEY=

CLOUDFLARE_TUNNEL_NAME=opendriver
CLOUDFLARE_TUNNEL_ID=
